/* Importa as fontes da google fontes*/
@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: "OpenSans_Condensed-Regular";
  src: url(../fonts/Open_Sans/static/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf);
}

@font-face {
  font-family: "TitilliumWeb-Bold";
  src: url(../fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

/*Reset da página  */
/*seletor universal: pega todas tags do html*/
* {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  box-sizing: border-box;
}

body {
  font-family: Roboto-Regular;
  background-color: #353B5D;
}

/* Inicio de cabeçalho */

.container_grid {
  max-width: 1200px;
  /* border: 3px solid salmon; */
  margin: 0 auto;
}

/* Cabeçalho */
.header-flex {
  /*flex-container */
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  height: 85px;
  /* width: 100%; */
}

header {
  background-color: #03112B;

  /* background-color: #1e1c21; */
}
header .logo {
  /* border: 1px solid red; */
  /* width: 280px; */
  top: 30px;
  width: 50px;
  height: 50px;
  /* left: 563px; */
  border-radius: 80%;
  opacity: 90%;
}

header .logo:hover {
  background-color: transparent;
  /* border: 1px solid #f9f5f6; */
  border: 0.5px solid #fcfc;
  cursor: pointer;
  /* transition: 0.7s; */
  transition: transform 0.4s;
}
header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 100%;
  /* border: 1px solid white; */
}

header .menu a {
  font-family: "Roboto-Regular";
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

header .menu a:hover {
  background-color: transparent;
  /* border: 1px solid #f9f5f6; */
  /* border: 0.5px solid wheat; */
  cursor: pointer;
  /* transition: 0.5s; */
  color: #f9004d;
  transition: 0.5s;
}

header nav {
  display: flex;
  padding-right: 40px;
}


#apresentacao {
  background: white;
  margin-bottom: 3px;
}

#apresent_1 {
  display: flex;
}

#Banner {
  width: 1430px;
  height: 400px;
}
#profil {
  position: relative;
  bottom: 140px;
  left: 235px;
  border-radius: 70%;
}
#profil:hover {
  background-color: transparent;
  /* border: 1px solid #f9f5f6; */
  border: 2px solid wheat;
  cursor: pointer;
  transition: 0.7s;
}

#name {
  font-size: 50px;
  font-family: Roboto-Regular;
  color: white;
  position: absolute;
  top: 424px;
  left: 548px;
  text-align: left;
  font: bolder;
}


#res {
  font-size: 14px;
  font-family: Roboto-Regular;
  color: white;
  font-style: Italic;
  font-weight: lighter;
  position: absolute;
  top: 491px;
  left: 548px;
  text-align: left;
}
span {
  color: #f9004d;
}

#li {
  position: absolute;
  left: 250px;
  top: 550px;
  background: white;
  border-radius: 20px;
  background: none;
}
#li:hover {
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  /* background-color: transparent; */
  border: 1px solid #f9004d;
  /* cursor: pointer; */
  transition: 0.7s;
  border-radius: 90%;
}
#gui {
  position: absolute;
  left: 330px;
  top: 580px;
  background: white;
  border-radius: 20px;
  background: none;
}
#gui:hover {
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  /* background-color: transparent; */
  border: 1px solid #f9004d;
  /* cursor: pointer; */
  transition: 0.7s;
  border-radius: 90%;
}

#faceb {
  position: absolute;
  left: 410px;
  top: 550px;
  background: white;
  border-radius: 20px;
  background: none;
}
#faceb:hover {
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  /* background-color: transparent; */
  border: 1px solid #f9004d;
  /* cursor: pointer; */
  transition: 0.7s;
  border-radius: 90%;
}

#aboutMe {
  width: 700px;
  position: absolute;
  top: 600px;
  left: 548px;
  font: 30px Roboto-Regula;
  letter-spacing: 0px;
  color: white;
  opacity: 1px;
}


#rodape_1 h1 {
  font-weight: lighter;
  padding-bottom: 20px;
  color: #ffffff;
}

#greeting {
  text-align: left;
  position: absolute;
  top: 533px;
  left: 548px;
  font-family: Roboto-Regular;
  /* font: bolder; */
  color: white;
}

/*  width: 1430px;
  height: 400px; */
#formacao {
  position: absolute;
  background: #27273C;
  margin-top: 280px;
  width: 1430px;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 150px;
  font-family: Roboto-Regular;
  color: white;
}
#formacao h1 {
  padding-bottom: 30px;
  font-size: 35px;
  font-weight: lighter;
}

#formacao p {
  padding-left: 34px;
  font-size: 13px;
  color: #fcfc;
}

#formacao h4 {
  padding-left: 34px;
  font-size: 21px;
  /* border-left: 9px solid wheat; */
  border-left: 9px solid #f9004d;
}

.tempo {
  padding-top: 10px;
}

/* width: 1430px;
  height: 400px; */
#experiencia {
  background: #27273C;
  margin-top: 600px;
  width: 1430px;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 150px;
  font-family:  Roboto-Regular;
  color: white;
}

#experiencia h1 {
  padding-bottom: 30px;
  font-size: 35px;
  font-weight: lighter;
}

#experiencia p {
   padding-left: 34px;
  font-size: 13px;
  color: #fcfc;
}

#experiencia h4 {
  padding-left: 34px;
  font-size: 21px;
  padding-bottom: 10px;
  /* border-left: 9px solid wheat; */
  border-left: 9px solid #f9004d;
}
/* Projetos */
.service {
  /* background: #101010; */
  width: 100%;
  padding: 100px 0px;
  /* background-image: url(../images/imagem1.jpg); */
}

.title h2 {
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}



.card {
  height: 325px;
  width: 335px;
  padding: 20px 35px;
  /* background: #191919; */
  background: #27273c;
  border-radius: 50px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.box .card:hover {
  /* background-color:transparent; */
  border: 1px solid #f9004d;
  /* border: 0.5px solid wheat; */
  cursor: pointer;
  color: #27273c;
  transition: 0.4s;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}
h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}
.meusproj p {
  color: #fcfc;
  /* color: #FFFFFF; */
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}
.card .button {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 0.4s;
}

.card .button:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}

.rodape_1 {
  width: 398px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.rodape_1 p {
  padding-bottom: 20px;
  color: white;
}

#rodape {
  display: flex;
  padding-left: 150px;
  font-family: Roboto-Regular;
  background: #03112B;
}
.rodape_1 img {
  margin-left: 40px;
  margin-top: 40px;
}
.rodape_1 #fcbk:hover{
  background-color: transparent;
  border: 1px solid #1977F3;
  cursor: pointer;
  transition: 0.7s;
  border-radius: 90%;

}
.rodape_1 #inst:hover{
  background-color: transparent;
  border: 1px solid #f9004d;
  cursor: pointer;
  transition: 0.7s;
  border-radius: 90%;

}
.rodape_1 #wats:hover{
  background-color: transparent;
  border: 1px solid #f9004d;
  cursor: pointer;
  transition: 0.7s;
  border-radius: 90%;

}

#formul {
  padding-left: 50px;
  padding-top: 5px;
}

.rodape_1 h1 {
  font-weight: lighter;
  padding-bottom:  10px;
  color: white;
}

#formul h4 {
  font-size: 13px;
  color: #FFFFFF;
  padding-top: 10px;
}

#formul input {
  width: 398px;
  border-radius: 10px;
}

#msg {
  height: 133px;
  border-radius: 10px;
}
.btn {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
 /* top:inherit; */
  transition: transform 0.4s;
}

.btn:hover {
  transform: scale(1.2);
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}

/* BREAKPOINTS */
    /* Desktop */

    @media screen and (min-width: 992px) {
      .container_grid{
          max-width: 900px;
          margin: 0 auto;
          /* border: 1px solid sienna; */
      }
      h1{
          font-size: 24px;

      }
      p{
          font-size: 16px;
      }

      
  }
  
  /* BREAKPOINTS */
  /* Notebooks ou telas largas */

  @media screen and (min-width: 1200px) {
      body{
          /* background-color: sienna; */
      }
      

      
  }

  /* BREAKPOINTS */
  /* Telas full hd (1920px)*/
  @media screen and (min-width: 1440px) {
      

      
  }

